---
layout: base 
---

<div class="projects">
  {% for post in paginator.posts %}
      <div class="projects-item">
        <div class="projects-line"></div>
        <div class="projects-content"> 
          <a href="{{ post.uri }}">
            <span class="projects-icon">
              {% if post.type == "pdf" %}
                <i class="fa fa-file-pdf"></i><span class="projects-icon-text">{{ post.title }}</span>
              {% elsif post.type == "code" %}
                <i class="fa fa-code"></i><span class="projects-icon-text">{{ post.title }}</span>
              {% endif %}
            </span>
          </a>
          </br>
          {% if post.type == "pdf" %}
            <span class="projects-icon">
              <i class="fa fa-graduation-cap"></i><span class="projects-icon-text">{{ post.category }}    
            </span>
            <span class="projects-icon">
              <i class="fa fa-language"></i><span class="projects-icon-text">{{ post.lang }}    
              </span>
            </br>
          {% endif %}
          <span class="projects-icon">
              <i class="fa fa-calendar-alt"></i><span class="projects-icon-text">{{ post.date | date: "%B %d, %Y" }}</span>
          </span>
        </div>
      </div>
    </br>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left next">Prev</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right next">Next</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
